@import url('../css/fonts.css');

:root {
  --keyboard-background: #eee2d0;
  --sceneColor: #cb3d6e;
  --accent: #5d437e;
  --important-color: #f8c200;
  --legend: #00a4a9;
}

body {
  background-color: var(--sceneColor);

}
.textarea-wrapper {
  display: flex;
  justify-content: center;
}
.double {
  display: flex;
  flex-direction: column;
}
.textarea {
  display: block;
  width: 1000px;
  height: 300px;
  padding: 10px;
  background-color: #f7b5cb;
}
.key {
  box-sizing: border-box;
  cursor: pointer;
  font-family: Legends;
  font-weight: 700;
  /* text-transform: capitalize; */
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: var(--accent);
  background-color: var(--legend);
  border: none;
  box-shadow: 2px 0px 5px #000;
  display: flex;
  flex-direction: column;
}

.key .main {
  order:2;
  text-align: center;
}

.key .sub {
  order:1;
  padding-left: 5px;
}
.letter {
  padding: 5px;
}
.active {
  position: relative;
  bottom: -2px;
  right: -2px;
  /* background: red; */
}
.key:active {
}

.key:hover {
  opacity: 0.8;
}

.frame {
  background-color: #aaa9ad;
  border-radius: 3px;
  position: relative;
  margin: 90px auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* grid-gap: 10px; */
}

.row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 5px; */
  margin-bottom: 10px;
}
.control-key {
  font-family: Legends;
  font-weight: 700;
  color: var(--important-color);
  background-color: var(--accent);
  text-align: left;
}

.backspace {
  width: 9%;
  /* grid-column: span 2; */
}

.tab {
  width: 8%;
  background-color: var(--accent);
  /* grid-column: span 1; */
}
.enter {
  width: 10%;
  /* grid-column: span 2; */
  background-color: var(--important-color);
  color: #fff;
}

.capslock {
  width: 10%;
  /* grid-column: span 2; */
  background-color: var(--accent);
}

.shiftleft {
  width: 12%;
  /* grid-column: span 2; */
  background-color: var(--accent);
}
.shiftright {
  width: 11%;
}
.space {
  width: 50%;
  grid-column: span 7;
}

.delete{
  width: 7%;
}

.arrowdown,
.arrowup,
.arrowleft,
.arrowright {
  background-color: var(--important-color);
}
.capslock-active{
  background-color: var(--important-color);

}
